@import "tailwindcss";


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
  --color-purple: #8704f8;
  --color-gray: #cccccc;
  --breakpoint-3xl: 120rem;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


